<%= content_for :menu do %>
""
<% end %>

<div class="flex">

  <div class="bg-blue-700" style="padding: 25% 0;">
    <h1 class="px-2 text-2xl text-white"><%= link_to '←', home_path %></h1>
  </div>

  <div>
    <div class="flex subs justify-center items-center px-10">

      <div class="flex-1">
        <div class="flex">
          <div class="self-center btn-blue btn px-3 hover:text-blue-700 text-sm"><%= link_to 'ENG', about_path %></div>
        </div>
      </div>

      <div class="flex-shrink-0 py-2">
        <h1 class="text-center text-6xl font-medium pb-2">visualization</h1>
      </div>

      <div class="flex-1">
        <div class="flex flex-row-reverse">
          <h2 class="mx-2 self-center hover:text-blue-700"> <%= link_to 'contact', contact_path %></h2>
          <h2 class="mx-2 self-center hover:text-blue-700"> <%= link_to 'about', articles_path %></h2>
        </div>
      </div>

    </div>

    <div class="flex-wrap">
      <div class="flex">
        <div class="visualization-image mb-4"><%= image_tag asset_path('render2.png')%></div>
        <div class="columnns-separator"></div>
        <div class="visualization-image mb-4"><%= image_tag asset_path('render2.png')%></div>
      </div>



      <div class="flex">
        <div class="visualization-image mb-4"><%= image_tag asset_path('48.jpg')%></div>
        <div class="columnns-separator"></div>
        <div class="visualization-image mb-4"><%= image_tag asset_path('51.jpg')%></div>
      </div>
    </div>

    <div style="padding-top: 12%">
      <div style="margin-top: auto; border-top: 1.5px solid #C0C0C0">
        <div class="flex px-12 py-8">

          <div class="flex-1">
            <h3 class="font-medium">Silueta Group</h3>
            <h3 class="font-medium">ⓒ All rights reserved</h3>
          </div>

          <div class="flex-shrink-0 flex">

            <div class="mr-12 pr-12">
              <h4 class="font-light">Contact</h4>
              <h3 class="font-medium">Rocamora 4343,</h3>
              <h3 class="font-medium">1184, Buenos Aires, Argentina</h3>
              <div class="pt-1">⎻⎻⎻</div>
              <h3 class="font-medium">+54 911 4071 7578</h3>
              <h3 class="font-medium">hola@siluetagroup.com</h3>
            </div>

            <div class="mr-12 pr-12">
              <h4 class="text-slate-500 mx-4 font-light hover:text-blue-700">Instagram</h4>
              <h4 class="text-slate-500 mx-4 font-light hover:text-blue-700">Behance</h4>
              <h4 class="text-slate-500 mx-4 font-light hover:text-blue-700">Linkedin</h4>
              <h4 class="text-slate-500 mx-4 font-light hover:text-blue-700">Facebook</h4>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>

</div>
