<%= content_for :menu do %>
""
<% end %>

<div class="h-screen">

    <div class="flex subs justify-center items-center">

<!--       <div>
        <h2 class="mx-2 self-center"> <%= link_to 'ENG', about_path %></h2>
      </div> -->

      <div class=""><%= image_tag asset_path('logo.png')%></div>

<!--       <div class="flex align-right">
        <h2 class="mx-2 self-center"> <%= link_to 'About us', about_path %></h2>
        <h2 class="mx-2 self-center"> <%= link_to 'Contact', contact_path %></h2>
      </div> -->

    </div>

  <div class="flex">

    <div class="w-1/2 home-background-left zoom">
      <h1 class="header text-center mt-80">architecture</h1>
    </div>
    <div class="w-1/2 home-background-right zoom">
      <h1 class="header text-center mt-80"><%= link_to 'visualization', visualizations_path %></h1>
    </div>

  </div>

</div>
