<!DOCTYPE html>
<html>
  <head>
    <title>Silueta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if content_for? :menu %>

      <%= yield %>

    <% else %>

    <div class="h-1/6 flex justify-center items-center">
      <div><%= link_to(image_tag("logo.png"), home_path) %></div>
    </div>

      <div>
        <%= yield %>
      </div>

    <% end %>
  </body>
</html>
