<!DOCTYPE html>
<html>
  <head>
    <title>Silueta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if content_for? :menu %>

      <%= yield %>

    <% else %>

      <div class="flex pl-10 pt-10">

        <div class="w-1/6 flex-none">

          <div class="fixed">
            <h1 class="header">Silueta</h1>
            <div class="pt-10">
              <h2 class="rest">Visualization</h2>
              <h2 class="rest text-red-500">Architecture</h2>
              <h2 class="rest">About us</h2>
              <h2 class="rest">Contact</h2>
            </div>
          </div>
        </div>

        <div class="w-5/6 flex">
          <div class="w-5/6">
            <%= yield %>
          </div>
          <div class="w-1/6">
            <div class="fixed rest mx-16">eng · es</div>
          </div>
        </div>
      </div>

    <% end %>
  </body>
</html>
